body {
  padding: 0;
  margin: 0;
}

#mapid,
body,
html {
  height: 100%;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.legend .deepest {
  color : black;
}

.legend .deeper {
  color : red;
}

.legend .deep {
  color : orange;
}

.legend .kindaDeep {
  color : yellow;
}

.legend .notDeep {
  color : white;
}